fieldset {
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    border: 1px solid #4485a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    max-width: 80%;
}

legend {
    color: #4485a3;
    font-weight: bold;
}

button {
    border-radius: 4px;
    border: 1px solid #4485a3;
    padding: 3px 15px;
    background-color: rgb(214, 214, 214);
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(160, 205, 226);
}