<div id="all" *ngIf="orders">

    <table>
        <caption>Orders Evaluation {{getCurrentYear()}}</caption>
        <tr>
            <th>Client</th>
            <th>Client Ranking</th>
            <th>Name of Product</th>
            <th>Items</th>
            <th>Bonus</th>
        </tr>
        <tr *ngFor="let order of orders">
            <td>{{order.customer}}</td>
            <td>{{order.accountRating}}</td>
            <td>
            <div *ngFor="let o of order.orders">
                {{o.product}}
            </div>
            </td>
            <td>
           <div *ngFor="let o of order.orders">
                {{o.quantity}}
            </div>
            </td> 
            <td>
            <div *ngFor="let o of order.orders">
                {{o.bonus}}
            </div>
            </td>     
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id="total">{{computeOrderBonus()}}</td>
        </tr>
    </table>

    <div class="bonus">
        <h2>Total Bonus: {{computeTotalBonus()}}€</h2>
        <div>
           <button id="approveBonus" *ngIf="ohrmId" (click)=uploadBonusToOHRM()>Approve Bonus</button> 
        </div>
        
    </div>
    

</div>