
ul {
    list-style-type: none;
}

li {
    padding: 5px 20px;
    background-color: rgb(214, 214, 214);
    float: left;
    border-radius: 4px;
    border: 1px solid #4485a3;
    margin: 1px;
}

li:hover {
    background-color: rgb(160, 205, 226);
    cursor: pointer;
}

#flex {
    display: flex;
    width: 100%;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

p {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
