<div *ngIf="salesmen">


    <button (click)="goBack()">go back</button>

    <div *ngFor="let item of salesmen">
        <h2>{{item.id}} : {{item.name | uppercase}} ,Department:{{item.department}}</h2>
    </div>


    <app-records [record]="thisYearsRecord"></app-records>
    <app-orders [record]="thisYearsRecord" [ohrmId]="salesmen[0].ohrmId"></app-orders>

    <form *ngIf="thisYearsRecord">
        <fieldset>
            <legend name="">Remarks</legend>
            <textarea name="remarks" id="remarks" #remarks cols="80" rows="5">{{thisYearsRecord.remarks}}</textarea>
            <br>
            <button (click)="saveRemarks(remarks.value)">Save Remarks</button>
        </fieldset>
    </form>





    <h2>Social Performance recent years:</h2>
    <ul class="records">
        <li *ngFor="let record of records" [class.selected]="record === selectedRecord" (click)="onSelect(record)">
            {{record.year}}
        </li>
    </ul>

    <app-records [record]="selectedRecord" [remarksVisibility]="true"></app-records>

</div>